# Visual Studio
*.suo
*.user
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Build
Debug/
Release/
x64/
x86/
ipch/

# Visual Studio cache
.vs/

# Logs
*.log

# Temp
*.tmp

# SVN
.svn/

# Windows
desktop.ini
Thumbs.db